
* {
	font-family: Verdana, sans-serif;
}

body {
	background-color: #dad9d4;
}

#main {
	margin: auto;
	width: 90%;
	background-color: white;
}

#banner {
	background-image: url('banner-background.png');
	color: white;
}

form {
	width: 24em;
}

.evenTableRow { 
	background-color: #dad9d4;
}


